@import "tailwindcss";

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: #db6a4c;
  border-radius: 0.8rem;
}

::-webkit-scrollbar-track {
  background: #44475a;
  border-radius: 0.8rem;
}

html {
  width: 350px;
  height: 500px;
  min-width: 350px;
  min-height: 500px;
  max-width: 350px;
  max-height: 500px;
  overflow: hidden;
}

body {
  transition: all 0.50s linear;
  color: #f8f8f2;
  margin: 0;
  padding: 0;
  width: 350px;
  height: 500px;
  overflow: hidden;
}

body,
input,
textarea,
button {
  font-family: "Poppins", sans-serif;
}

#root {
  width: 350px;
  height: 500px;
  overflow: hidden;
}
